<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Elogic\Hello\Block\Index">
        <plugin name="Elogic_Hello_Plugin" type="Elogic\Hello\Plugin\HelloPlugin" sortOrder="10" disabled="true"  />
    </type>

    <type name="Elogic\Hello\Controller\Index\Index">
        <plugin name="Elogic_Hello_Controller_Plugin" type="Elogic\Hello\Plugin\ControllerPlugin" sortOrder="10" disabled="false"  />
    </type>
    <preference for="Magento\Catalog\Model\Category" type="Elogic\Hello\Model\CategoryName"/>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Elogic_Hello_Price_Plugin" type="Elogic\Hello\Plugin\PricePlugin" sortOrder="1" disabled="false"/>
    </type>
</config>

