<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Elogic\Hello\Ass\Block\Index">
        <plugin name="Elogic_Ass_Plugin" type="Elogic\Ass\Plugin\HelloPlugin" sortOrder="1" disabled="false"  />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Elogic_Price" type="Elogic\Ass\Plugin\PricePlugin" sortOrder="1" disabled="false" />
    </type>
    <preference for="Elogic\Ass\Api\GunsRepositoryInterface" type="Elogic\Ass\Model\GunsRepository"/>
    <preference for="Elogic\Ass\Api\Data\GunsInterface" type="Elogic\Ass\Model\GunsModel"/>
    <preference for="Elogic\Ass\Api\WebInterface" type="Elogic\Ass\Model\WebModel"/>
</config>
